@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    height: 570px;
    background: #A5C9CA;
}
header{
    width: 100%;
    height: calc((100%)/5);
    margin: 0 auto 0 auto;

}
header img{
    width: 70px;
    position: relative;
    top: 40px;
    left: 40px; 
}
header h1{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    color: #2C3333;

}
main{
    width: auto;
    height: 75%;
}
/* Sección iniciar juego */
#iniciar-juego{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}#iniciar-juego img{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}
#nuevo-juego{
    background: #395B64;
    margin-bottom: 15px;
    width: 250px;
    height: 100px;
    border-color: #E7F6F2;
    border-radius: 15px;
    color: #E7F6F2;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

#nueva-palabra{
    width: 250px;
    height: 50px;
    background-color: #E7F6F2;
    border-color: #395B64;
    border-radius: 12px;
    color: #395B64;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    transition: 10ms;
}
#nueva-palabra:active{
    box-shadow: -1px -1px 1px 0px rgba(44, 51, 51, 40%), 
    inset -1px -1px 2px 1px #ffffff;;
}
/* Seccion agregar palabra */
#agregar-palabra{
    width: auto;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ingresar-palabra{
    color: #2C3333;
    font-size: 1.7em;
    font-family: 'Poppins',sans-serif;
    background: none;
    border: none;
    outline: none;
    padding: 1% 1% 1% 5%;
    margin: 10%;
}
#ingresar-palabra::placeholder{
    color: #2C3333;
    
}
.advertencia p{
    display: inline;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    vertical-align: top;
}
.btn-ejecutar{
    background: #395B64;
    margin-right: 15px;
    width: 250px;
    height: 50px;
    border-color: #E7F6F2;
    border-radius: 15px;
    color: #E7F6F2;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}
.btn-cancelar{
    width: 250px;
    height: 50px;
    background-color: #E7F6F2;
    border-color: #395B64;
    border-radius: 12px;
    color: #395B64;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    transition: 10ms;
}
/* sección jugar */
#jugar{
    width: auto;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
canvas{
    width: 450px;
    height: auto;
    margin-top: 0;
    /* border-bottom: 5px solid #2C3333; */

}
.letras{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #2C3333;
    margin: 30px 0;
}
ul li{
    display: inline-block;
    width: 50px;
    height: 45px;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 5px solid #2C3333;
    text-align: center;
    margin: 0 8px 8px 0;
    vertical-align: bottom;
}
.letras P{
    font-size: 1.4em;
}
#resultado{
    position: relative;
    visibility: hidden;
    top: -80%;
    left: 65%;
    width: 200px;
    height: 131px;
    font-size: 2em;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #2C3333;

}
footer img{
    width: 20px;
    margin-left: 5px;
}